<nav class="navbar sticky-bottom navbar-light bg-white shadow-sm">
    <div class="container d-flex justify-content-around">
        <a href="home.html" class="nav-link text-dark">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="/assets/images/homesicon.svg" alt="">
                <span>Home</span>
            </div>
        </a>
        <a href="feed.html" class="nav-link text-dark">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="/assets/images/feedicon.svg" alt="">
                <span>Feed</span>
            </div>
        </a>
        <a href="favorite.html" class="nav-link text-dark">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="/assets/images/bookmark.svg" alt="">
                <span>Library</span>
            </div>
        </a>
        <a href="profile.html" class="nav-link text-dark">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="/assets/images/profileicon.svg" alt="">
                <span>Profile</span>
            </div>
        </a>
    </div>
</nav>